In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('/home/vivek/Downloads/results.csv')

In [3]:
df.head()

,25k,age,name,division,10k,gender,half,official,bib,ctz,...,overall,pace,state,30k,5k,genderdiv,20k,35k,city,40k
0,49.87,28,"Cassidy, Josh R.",9,18.18,M,40.93,90.90,W1,NaN,...,9,3.47,ON,62.07,8.90,9,38.80,74.73,Toronto,85.55
1,77.27,30,"Korir, Wesley",5,30.90,M,64.90,132.50,1,NaN,...,5,5.07,NaN,92.97,15.90,5,61.52,108.78,Kenya,124.77
2,77.23,23,"Desisa, Lelisa",1,30.90,M,64.92,130.37,2,NaN,...,1,4.98,NaN,92.72,15.93,1,61.53,108.68,Ambo,123.78
3,50.50,32,"Fearnley, Kurt H.",5,18.73,M,42.00,88.43,W2,NaN,...,5,3.38,NaN,61.35,8.98,5,39.88,73.00,Hamilton,83.43
4,48.75,39,"Hokinoue, Kota",3,18.18,M,40.57,87.22,W3,NaN,...,3,3.33,NaN,59.92,8.92,3,38.55,71.68,Iizuka,81.88

In [31]:
X = df.drop(['name', 'gender', 'bib', 'ctz', 'city', 'country', 'state'],1)
X = X[X['25k'] != '-']
X = X[X['5k'] != '-']
X = X[X['10k'] != '-']
X = X[X['20k'] != '-']
X = X[X['30k'] != '-']
X = X[X['35k'] != '-']
X = X[X['40k'] != '-']
X = X[X['half'] != '-']
print(X.head())

     25k  age  division    10k   half  official  overall  pace    30k     5k  \
0  49.87   28         9  18.18  40.93     90.90        9  3.47  62.07   8.90
1  77.27   30         5  30.90  64.90    132.50        5  5.07  92.97  15.90
2  77.23   23         1  30.90  64.92    130.37        1  4.98  92.72  15.93
3  50.50   32         5  18.73  42.00     88.43        5  3.38  61.35   8.98
4  48.75   39         3  18.18  40.57     87.22        3  3.33  59.92   8.92

   genderdiv    20k     35k     40k
0          9  38.80   74.73   85.55
1          5  61.52  108.78  124.77
2          1  61.53  108.68  123.78
3          5  39.88   73.00   83.43
4          3  38.55   71.68   81.88

In [38]:
kmeans = KMeans(n_clusters=4, random_state=22)
kmeans.fit(X)
y_pred = kmeans.predict(X)
unique, counts = np.unique(y_pred, return_counts=True)
dict(zip(unique, counts))

{0: 3548, 1: 4409, 2: 4043, 3: 4054}

In [39]:
kmeans = KMeans(n_clusters=5, random_state=22)
kmeans.fit(X)
y_pred = kmeans.predict(X)
unique, counts = np.unique(y_pred, return_counts=True)
dict(zip(unique, counts))

{0: 2892, 1: 3416, 2: 2338, 3: 3591, 4: 3817}