In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df = pd.read_csv("/home/vivek/Downloads/Mall_Customers.csv")

In [3]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

We have annual income and spending score of 200 mall customers from a particular mall. We want to use this data to increase sales of this particular mall.

In [13]:
df[df['Gender']=='Male']['Spending Score (1-100)'].mean()

48.51136363636363

In [14]:
df[df['Gender']=='Female']['Spending Score (1-100)'].mean()

51.526785714285715

In [15]:
df[df['Gender']=='Male']['Annual Income (k$)'].mean()

62.22727272727273

In [16]:
df[df['Gender']=='Female']['Annual Income (k$)'].mean()

59.25

From above calculations we can finally say that, though income of female is less but spending score is higher than male.

Now, this mall uses advertisement for increasing their customers. Advertising department is thinking about new ad which can increase the number of female customers with higher spending scores. But manufacturers needs to test this ad first before making any final decision.

**Rollout Plan**: Mall gives ads to different digital platforms and uses coupons to get more users. For starting we will be rolling 10% of new ads and after one week change it to 50% for testing if everything works well.

**Success Metric:** Increase in sales and increase in consumers with higher spending score is the success metric of this test.

**Secondary Metrics:** Other factors like which products are sold to these higher spending customers is also important, i.e. we also need to check if profit margin is also increased or not.