In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/vivek/Downloads/Thinkful datasets/churn-modelling/Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(['RowNumber', 'Surname', 'CustomerId'], 1)

In [5]:
df['Gender'] = df['Gender'].replace('Male', 1)
df['Gender'] = df['Gender'].replace('Female', 0)

In [6]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [7]:
df['France'] = df['Geography'] == 'France'
df['Germany'] = df['Geography'] == 'Germany'
df['Spain'] = df['Geography'] == 'Spain'

In [8]:
df['France'] = df['France'].replace(True, 1)
df['Germany'] = df['Germany'].replace(True, 1)
df['Spain'] = df['Spain'].replace(True, 1)

In [9]:
df = df.drop('Geography',1)
X = df.drop('IsActiveMember',1)
Y = df['IsActiveMember']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=43)
scaler = StandardScaler()

In [16]:
Lregr = LogisticRegression(solver='sag')
X_train = scaler.fit_transform(X_train)

In [17]:
Lregr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='sag',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
Lregr.score(X_test, y_test)

0.571